@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #f0f0f0; /* Fundo mais claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pacifico', cursive; /* Fonte 'Pacifico' */
}

.login-container {
    background-color: #ffffff; /* Fundo branco */
    border-radius: 20px; /* Borda mais arredondada */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4); /* Sombra mais forte */
    text-align: center;
    padding: 30px;
    max-width: 600px; /* Largura máxima aumentada */
}

.login-tab {
    background-color: #333; /* Preto suave */
    color: #f8e866;
    font-size: 36px; /* Maior tamanho de fonte */
    padding: 20px;
    border-radius: 20px 20px 0 0; /* Borda mais arredondada */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Maior espaço entre elementos */
    padding: 20px 0;
}

input[type="email"],
input[type="password"] {
    padding: 15px; /* Maior tamanho de preenchimento */
    border: none;
    border-bottom: 3px solid #555; /* Preto ainda mais suave */
    outline: none;
    font-size: 20px; /* Maior tamanho de fonte */
}

button {
    background-color: #555; /* Preto ainda mais suave */
    color: #f8e866; /* Texto amarelo */
    padding: 15px;
    border: none;
    border-radius: 10px; /* Borda mais arredondada */
    cursor: pointer;
    font-size: 20px; /* Maior tamanho de fonte */
}

button:hover {
    background-color: #333; /* Preto suave ao passar o mouse */
}

.register-link {
    margin-top: 20px; /* Maior espaço superior */
    font-size: 18px; /* Maior tamanho de fonte */
    color: #333; /* Cor amarela */
}

a {
    color: #dbc519; /* Preto ainda mais suave */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    position: absolute;
    bottom: 0;
    width: 100%;
}
