@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background-color: #f0f0f0;
    text-align: center;
}


.presentation-container {
    display: flex;
    background-color: #ffffff;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.image-container {
    flex: 1;
    padding: 20px;
    text-align: center; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}


.text-container {
    flex: 1;
    text-align: center;
}

.site-title {
    font-size: 36px;
    color: #333;
    font-family: 'Pacifico'; 
    border-radius: 10px; 
    padding: 30x;
}

.enter-button {
    display: inline-block;
    background-color: #555;
    color: #f8e866;
    padding: 15px 30px;
    border-radius: 10px; 
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif; 
}

.enter-button:hover {
    background-color: #333;
}






.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}
