body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #333;
    color: #f8e866;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 30px;
    max-width: 1000px;
    margin: 20px auto;
    
}
.expense-list{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 20px;
}

.income-list{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 20px;
}

#balance-amount {
    font-weight: bold;
    font-size: 18px;
    color: #4ccf48;
}
form {
    margin-top: 20px;
}
.button_remove {
    background-color: blue;
}
input[type="text"], input[type="number"] {
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

button{
    width: auto;
    padding: auto;
    margin-top: auto;
    background-color: #333;
    color: #f8e866;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #111;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: #ff4444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #d92626;
}
.balance{
    color: green
}
