@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Estilos globais */

body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive; /* Usando a fonte 'Pacifico' para o restante do texto */
    background-color: #f0f0f0;
    text-align: center;
}

/* Estilos para a tela de apresentação */

.presentation-container {
    display: flex;
    background-color: #ffffff;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px; /* Borda mais arredondada */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.image-container {
    flex: 1;
    padding: 20px; /* Espaçamento externo para a imagem */
    text-align: center; /* Centralize a imagem verticalmente */
}

.image-container img {
    max-width: 100%; /* Certifique-se de que a imagem não exceda a largura da div */
    height: auto; /* Mantenha a proporção da imagem */
}

.text-container {
    flex: 1;
    text-align: center;
}

.site-title {
    font-size: 36px;
    color: #333;
    font-family: 'Pacifico'; /* Usando Arial ou sans-serif para o título */
    border-radius: 10px; /* Borda mais arredondada */
    padding: 30x; /* Espaçamento interno aumentado */
}

.enter-button {
    display: inline-block;
    background-color: #555;
    color: #f8e866;
    padding: 15px 30px;
    border-radius: 10px; /* Borda mais arredondada */
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif; /* Mantendo Arial ou sans-serif para o botão "Entrar" */
}

.enter-button:hover {
    background-color: #333;
}

/* Estilos para o rodapé */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}
